/* GENERAL */
html {
  box-sizing: border-box;
  font-size: 100%;

}
*, *:before, *:after {
  	box-sizing: inherit;
  	margin: 0px;
	padding: 0px;
}

body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#container{
	min-width: 320px;
}

#container>header{
	position: fixed;
	width: 100%;
	background-color: rgba(36,51,63,0.9);
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	color: white;
}

#underHeader{
	padding: 52px;
}

#container>header>h1{
	padding: 20px;
	font-size: 3em;
	/*flex:3;*/
}

#container>header>h1>a{
	text-decoration: none;
	color: #ffffff;
}


#userSpace{
	display: flex;
	font-size: 1em;
	/*flex:1;*/
	padding: 8px;
}

#userSpace ul{
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#userSpace li{
	/*padding: 4px;*/
	margin: 0 5px;
}

#userSpace a:link, #userSpace a:visited{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

#userSpace a:hover{
	border-bottom:solid;
	border-width: 1px;
}


main{
	/*padding-top: 95px;*/
	min-width: 320px;
}

.billet{
	margin: 20px 0px 20px 0px;
	margin: 20px;
	padding: 10px;
	border : 1px solid rgba(36,51,63, 0.4);
	border-radius: 4px;
	background-color: #FFFFFF;
	color: #2c4250;
}

.billet>header{
	padding: 20px 20px 0px 20px;
}
.postTitle{
	text-decoration: none;
	color: #2c4250;
}

.billet>header>h1{
	color: #2c4250;
}

.billet #author:link, .billet #author:visited{
	text-decoration: none;
	color: #f72210;
}

.billet>#billet_body{
	padding: 20px;
}

.billet footer{
	/*background-color: rgb(224, 224, 224);
	/*display: inline-block;*/
}

.billet footer ul{
	display: inline-flex;
	list-style: none;
	margin-left: 20px;
}

.billet footer li{
	border:1px solid #ccc;
	border-radius: 2px;
	margin: 0 8px 0 0;
	font-family: Ubuntu;
	/*display: inline-block;*/
}

.billet footer a, .billet footer button{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	/*color: #337ab7;*/
	background-color: white;
	color: #bbbbbb;
	box-sizing: border-box;
	padding: 4px;
	display: block;
	border:none;
	font-size: 14px;
	cursor: pointer;
}

.billet footer a{

}

#pages_navigation{
	color: white;
	text-align: center;
	margin-bottom: 20px;
}

#pages_navigation ul{
	list-style: none;
	text-align: center;
	display: inline-flex;
	/*display: flex;*/
	flex-direction: row;
	/*display: inline-block;*/
	background-color: #FFF;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	/*width: 50%;
	margin: 0 auto;*/
}

#pages_navigation ul li{
	/*padding: 8px;*/
	width: 40px;
	height: 40px;
	padding: 0px;
	border-top:solid;
	border-color: #A85148/*#2e6da4*/;
	color: #2c4250;
}
/*
#pages_navigation a:link, #pages_navigation a:visited{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 8px;
	color:#000000;
}*/

#pages_navigation a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 8px;
	/*color:#000000;*/
	/*color: rgb(36,51,63);*/
	color: #2c4250;
}

/*.currentPage:link, .currentPage:visited{
	background-color: #337ab7;
	color: #FFF;
}*/

#currentPage{
	text-decoration: none;
	background-color: #A85148; /*#8E97A6;*/
	color: #FFFFFF !important;
	border-radius: 50%;
}


/*================== COMMENTS ===================*/

#lien_retour{
	/*margin: 20px;
	margin-top: 50px;
	top: 50px;*/
	padding: 10px;
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	background-color: #302F33;
	margin: 100px 20px;
}

#commentSection{
	width: 94%;
	margin: auto;
	/*margin: 20px 0px 20px 0px;*/
	margin-bottom: 20px;
}


#addComment{
	/*min-width: 300px;*/
	color: white;
	padding: 10px;
	border-radius: 2px;
	background-color: #A85148;
	background-color: #818485;
}

#addComment p a{
	text-decoration: none;
	color: #0B3249;
}

#addComment textarea{

	display: block;
	margin: 5px 0;
	padding: 5px;
	width: 95%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	/*max-width: 90%;*/
	/*resize:none;*/
	resize: vertical;
	color: black;
	background-color: white;
	border: none;
	/*font-family: "trebuchet ms",sans-serif;*/
}

#addComment input[type="submit"]{
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	/*background-color: #0B3249;*/
	background-color: /*#24333f*/ #A85148;
	color: #FFFFFF;
	box-sizing: border-box;
	border:none;
	border-radius: 2px;
	padding: 8px;
	display: block;
	font-size: 14px;
}

.comment{
	margin : 2px 0px 0px 2px;
	padding: 10px;
	border-radius: 2px;
	/*background-color: #333333;*/
	background-color: rgb(36,51,63);
	color: white;
}

.comment h1{
	font-size: 1.2em;
}

.comment h2{
	font-size: 1em;
}

.comment p{
	font-size: 1em;
}

/*=================== addPostView ========================*/
section#addBillet{
	margin: 20px;
	padding: 10px;
}

section#addBillet h1, section#addBillet input[type="submit"]{
	margin-left: 30px;
}

section#addBillet h1{
	color: #0B3249;
}

section#addBillet>form>div{
	width: 100%;
	text-align: center;
}

section#addBillet textarea, section#addBillet input[type="text"]{
	resize: none;
	overflow-x: hidden;
	overflow-wrap: break-word;
	width: 95%;
	margin: 10px;
	padding: 4px;
	/*margin: auto;*/
}
