/* GENERAL */
html {
  box-sizing: border-box;
  font-size: 100%;

}
*, *:before, *:after {
  	box-sizing: inherit;
  	margin: 0px;
	padding: 0px;
}

body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#container{
	min-width: 320px;
}

#container>header{
	background-color: #337ab7;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	color: white;
}

#container>header>h1{
	padding: 20px;
	padding-left: 10%;
	font-size: 3em;
	flex:1;
}

#userSpace{
	padding: 20px;
	font-size: 20px;
	flex:1;
}

#userSpace ul{
	/*height: 100%;*/
	list-style: none;
	display: flex;
	/*align-items: flex-end;*/
	align-items: center;
	flex-wrap: wrap;
}

#userSpace li{
	padding: 4px;
}

#userSpace a:link, #userSpace a:visited{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	margin: 0 5px;
	padding: 6px;
}

#userSpace a:hover{
	border-bottom:solid;
	border-width: 1px;
}


main{
	/*width: 86%;
	min-width: 600px;
	margin: auto;*/
	min-width: 320px;
	/*background-color: #FFFFFF;*/
}

.billet{
	margin: 20px 0px 20px 0px;
	padding: 10px;
	border : 1px solid rgb(224, 224, 224);
	border-radius: 4px;
	background-color: #FFFFFF;
	color: #2c4250;
}

.billet>header{
	/*border:solid;
	background-color: #BBBBBB;*/
	/*padding: 20px;*/
	padding: 20px 20px 0px 20px;

}

.billet>header>h1{
	color: #2c4250;
}

.billet #author:link, .billet #author:visited{
	text-decoration: none;
	color: #f72210;
}

.billet>#billet_body{
	padding: 20px;
}

.billet footer{
	/*background-color: rgb(224, 224, 224);
	/*display: inline-block;*/
}

.billet footer ul{
	display: inline-flex;
	list-style: none;
	margin-left: 20px;
}

.billet footer li{
	border:1px solid #ccc;
	border-radius: 2px;
	margin: 0 8px 0 0;
	font-family: Ubuntu;
	/*display: inline-block;*/
}

.billet footer a, .billet footer button{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	/*color: #337ab7;*/
	color: #bbbbbb;
	box-sizing: border-box;
	padding: 8px;
	display: block;
	border:none;
	font-size: 14px;
	cursor: pointer;

}

#pages_navigation{
	
	/*background-color: rgb(249, 249, 249);*/
	/*text-transform: uppercase;
	/*font-family: cursive;*/
	color: white;
	text-align: center;
	margin-bottom: 20px;
	/*border-radius: 5px;*/
}

#pages_navigation ul{
	list-style: none;
	text-align: center;
	display: inline-flex;
	/*display: flex;*/
	flex-direction: row;
	/*display: inline-block;*/
	background-color: #FFF;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #666;
	/*width: 50%;
	margin: 0 auto;*/
}

#pages_navigation ul li{
	/*padding: 8px;*/
	width: 40px;
	padding: 0px;
	border-top:solid;
	border-color: #2e6da4;
}

#pages_navigation a:link, #pages_navigation a:visited{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 8px;
}

.currentPage:link, .currentPage:visited{
	/*text-decoration: none;*/
	background-color: #337ab7;
	color: #FFF;
}


/*================== COMMENTS ===================*/
#lien_retour{
	margin: 20px;
	margin-top: 50px;
	padding: 10px;
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	background-color: #302F33;
}

#commentSection{
	
	/*padding: 20px;*/
	/*padding: 20px 0px 20px 0px;*/
	width: 80%;
	margin: auto;
	margin: 20px 0px 20px 0px;
}


#addComment{
	min-width: 300px;
	color: white;
	padding: 20px;
	border-radius: 2px;
	background-color: #337ab7;
}

#addComment p a{
	text-decoration: none;
	color: #0B3249;
}

#addComment textarea{

	display: block;
	margin: 5px 0;
	padding: 5px;
	width: 100%;
	/*max-width: 90%;*/
	/*resize:none;*/
	resize: vertical;
	color: black;
	background-color: white;
	border: none;
	/*font-family: "trebuchet ms",sans-serif;*/
}

#addComment input[type="submit"]{
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	background-color: #0B3249;
	color: #FFFFFF;
	box-sizing: border-box;
	border:none;
	border-radius: 2px;
	padding: 8px;
	display: block;
	font-size: 14px;
}

.comment{
	margin : 2px 0px 0px 2px;
	padding: 10px;
	border-radius: 2px;
	background-color: #333333;
	color: white;
}

.comment h1{
	font-size: 1.2em;
}

.comment h2{
	font-size: 1em;
}

.comment p{
	font-size: 1em;
}

/*=================== addPostView ========================*/
section#addBillet{
	margin: 20px;
	padding: 10px;
}

section#addBillet h1, section#addBillet input[type="submit"]{
	margin-left: 30px;
}

section#addBillet h1{
	color: #0B3249;
}

section#addBillet>form>div{
	width: 100%;
	text-align: center;
}

section#addBillet textarea, section#addBillet input[type="text"]{
	resize: none;
	overflow-x: hidden;
	overflow-wrap: break-word;
	width: 95%;
	margin: 10px;
	padding: 4px;
	/*margin: auto;*/
}
